[package]
name = "deadpool-memcached"
version = "0.1.2"
authors = ["Toby Lawrence <toby@nuclearfurnace.com>"]
description = "Dead simple async pool for memcached"
keywords = ["async", "memcached", "pool"]
license = "MIT/Apache-2.0"
repository = "https://github.com/nuclearfurnace/deadpool-memcached"
readme = "README.md"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
default = ["tcp"]
tcp = ["async-memcached/tcp"]

[dependencies]
deadpool = { version = "0.5", default-features = false, features = ["managed"] } 
async-trait = "0.1"
futures = { version = "0.3", features = ["compat"] }
log = "0.4"
async-memcached = { version = "0.1", default-features = false }
